body {
    box-sizing: border-box;
    width: 400px;
    margin: 0 auto;
    background-color: #3498db;
}

#demo {
    font-size: 2em;
    color: #ecf0f1
}

@media (max-width:720px){
    li{
        font-size:2em;
    }

    span{
        font-size:2em;
        font-weight:bold;
    }
}