body {
    box-sizing: border-box;
    width: 400px;
    margin: 0 auto;
    background-color: #3498db;
}

#demo,#demo1 {
    font-size: 2em;
    color: #ecf0f1
}

h3{
    font-size: 2 rem;
    color:whitesmoke;
}

@media (max-width:720px){
    li{
        font-size:2em;
    }

    span{
        font-size:2em;
        font-weight:bold;
    }
}